# HW9 (60 points total)

This homework requires the cities.db file, found where you downloaded the homework.

# Problem 1: SQLite Queries (17 points: 4,6,7)

For each text description of a query, make the corresponding query in SQLite (in Python).  Be sure to upload the cities.db file first.  This file contains two tables, the cities table containing "name" (of city) and "population", and the "best_cities" table, containing "city" and "reason" (one reason it's a good city, according to the AFAR website).

In [1]:
from google.colab import files

uploaded = files.upload()

Saving cities.db to cities.db

In [8]:
import sqlite3
connection = sqlite3.connect('cities.db')
import pandas as pd
pd.read_sql('SELECT * FROM best_cities', connection)

              city                reason
0           London             Nightlife
1            Paris  Sights and Landmarks
2    New York City               Culture
3           Moscow               Museums
4            Dubai                Safety
5            Tokyo           Restaurants
6        Singapore               Wealthy
7      Los Angeles            University
8        Barcelona             Nightlife
9           Madrid             Nightlife
10            Rome               History
11            Doha            Prosperity
12         Chicago               Culture
13       Abu Dhabi               Weather
14   San Francisco          Things to do
15       Amsterdam              Shopping
16  St. Petersberg           Attractions
17         Toronto                People
18          Sydney                People
19          Berlin             Nightlife
20       Las Vegas           Attractions
21      Washington           Attractions
22        Istanbul              Shopping
23          Vienna               Weather
24         Beijing                People

(a) (4 points) Query: all the best cities where the reason is "Nightlife."

In [20]:
pd.read_sql("SELECT city, reason from best_cities WHERE reason LIKE '%Nightlife%'", connection)
# TODO

        city     reason
0     London  Nightlife
1  Barcelona  Nightlife
2     Madrid  Nightlife
3     Berlin  Nightlife

(b) (6 points) Query:  All the cities in the cities table that end in '-ton,' and their populations.

In [24]:
pd.read_sql("SELECT name, name from cities WHERE name LIKE '%ton'", connection)
# TODO

          name        name
0    Arlington   Arlington
1    Arlington   Arlington
2       Boston      Boston
3     Brockton    Brockton
4   Carrollton  Carrollton
5   Charleston  Charleston
6      Compton     Compton
7       Dayton      Dayton
8    Fullerton   Fullerton
9      Hampton     Hampton
10     Houston     Houston
11    Stockton    Stockton
12  Washington  Washington

(c) (7 points) Query:  city name, reason it's a good city, and population, from an inner join of the two tables.  (This should produce 5 American cities.)

In [30]:
pd.read_sql("""SELECT name, reason, population
               FROM best_cities
               INNER JOIN cities 
                  ON city = name
               ORDER BY name""", connection)
# TODO

            name        reason population
0        Chicago       Culture    2896016
1      Las Vegas   Attractions     478434
2    Los Angeles    University    3694820
3  San Francisco  Things to do     776733
4     Washington   Attractions     572059

# Problem 2:  Advanced Pandas (25 points, 7, 6, 6, 6)

Perform the requested transformations of the table below.

In [31]:
import pandas as pd
import numpy as np

movies = pd.DataFrame({"Title": ["Perfect Blue",
                                 "Three Colours: Red",
                                 "Three Colours: Blue",
                                 "Three Colours: White",
                                 "Harold and Kumar Go to White Castle",
                                 "Men in Black",
                                 "Yellow Submarine"],
                       "Genre": ["Thriller","Drama","Drama","Drama","Comedy","Fantasy","Fantasy"],
                       "Year": [1997,1994,1994,1994,2004,1997,1968],
                       "Country": ["Japan","France","France","France","USA","USA","UK"],
                       "RTScore": [80, 100, 98, 87, 74, 92, 95]})

(a) (7 points) Use pivot_table to create a table from the movies data where the rows are genres, the columns are countries, and the numerical values are average Rotten Tomatoes scores ("RTScore").

In [33]:
table = pd.pivot_table(movies, values='RTScore',
                       index=['Genre'],
                       columns=['Country'],)
table
# TODO

Country   France  Japan    UK   USA
Genre
Comedy       NaN    NaN   NaN  74.0
Drama       95.0    NaN   NaN   NaN
Fantasy      NaN    NaN  95.0  92.0
Thriller     NaN   80.0   NaN   NaN

(b) (6 points) Use groupby to find the mean score by genre.  Don't include averages of the year (use just the Genre and RTScore columns).

In [35]:
movies[['Genre','RTScore']].groupby(['Genre']).mean()
# TODO

          RTScore
Genre
Comedy       74.0
Drama        95.0
Fantasy      93.5
Thriller     80.0

(c) (6 points) Perform an outer join with the following table on movie title.

In [36]:
animated = pd.DataFrame({"Title": ["Perfect Blue",
                                 "Harold and Kumar Go to White Castle",
                                 "Men in Black",
                                 "Yellow Submarine",
                                 "Revolutionary Girl Utena",
                                 "End of Evangelion",
                                 "No"],
                         "Animated": [True,False,False,True,True,True,False]})

In [40]:
outer_merge = animated.merge(animated, how="outer",
                             left_on='Title', right_on='Title')
outer_merge
# TODO

                                 Title  Animated_x  Animated_y
0                         Perfect Blue        True        True
1  Harold and Kumar Go to White Castle       False       False
2                         Men in Black       False       False
3                     Yellow Submarine        True        True
4             Revolutionary Girl Utena        True        True
5                    End of Evangelion        True        True
6                                   No       False       False

(d) (6 points) Create a pivot table from the first movies table where the rows are genres and the columns are min, mean, and max RTScore. (The columns can have any order.)

In [43]:
table1 = pd.pivot_table(movies, values='RTScore', index=['Genre'], aggfunc={'RTScore': [np.mean, min, max]})
table1
# TODO

          max  mean  min
Genre
Comedy     74  74.0   74
Drama     100  95.0   87
Fantasy    95  93.5   92
Thriller   80  80.0   80

# Problem 3: Complexity (18 points: 8,4,4,2)

a, 8 pts) Order the following running times from quickest running time to slowest: $\Theta(2^N)$, $\Theta(N \log N)$, $\Theta(1)$, $\Theta(\log N)$.

Θ(1), Θ(log𝑁), Θ(2𝑁), Θ(𝑁log𝑁)

b, 4 pts) Find the big-$\Theta$ asymptotic complexity of the following function in terms of N, its input.  Don't include constants and lower-order terms.

In [44]:
import numpy as np

def create_matrix(N):
  my_matrix = np.zeros((N,N)) # Hint: every item in the zeros matrix must be set to zero
  for i in range(0,N-2):
    for j in range(0,N):
      my_matrix[i][j] = 2
  return my_matrix

# Example
  create_matrix(5)

n(n-2) + 2

Θ (n^2)

c, 4 pts) Find the big-$\Theta$ worst case running time in terms of the number of strings $N$ in the input list.  Assume string comparisons and append() take constant time.  Hint:  The number of times append() is called is $N(N-1)(N-2)$.

In [ ]:
def all_triples(string_list):
  triple_list = []
  for a in string_list:
    for b in string_list:
      if b != a:
        for c in string_list:
          if c != a and c != b:
            triple_list.append((a,b,c)) # Assume append is constant time
  return triple_list

# Example
all_triples(['Alice','Bob','Kai','Yulin'])

24

$\Theta$(n^2)

d, 2 pts) Of the two asymptotic running times you listed (which should be different), which is the more desirable running time?

The first one is because nˆ2 is a more desirable running time than nˆ3